# Dependencies
node_modules/
.pnpm-store/

# Build Output
dist/
.astro/

# Environment Variables & Local Secrets
.env
.env.production
.env.local
.env.development.local

# Operating System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*